<?xml version="1.0"?>
<codiana>
	<database>
		<dbtype>local</dbtype>
		<dbserver>127.0.0.1</dbserver>
		<dbport>3306</dbport>
		<dbname>moodle</dbname>
		<dbprefix>mdl_</dbprefix>
		<username>moodle</username>
		<password></password>
		
		<ssh>
			<username>root</username>
			<password></password>
		</ssh>
	</database>
	<languages>
		<item>
			<extension>java</extension>
			<classname>cz.edu.x3m.JavaLanguage</classname>
		</item>
		<item>
			<extension>py</extension>
			<classname>cz.edu.x3m.PythonLanguage</classname>
		</item>
	</languages>
</codiana>