<?xml version="1.0"?>
<codiana>
    <database>
        <dbtype>local</dbtype>
        <dbserver>127.0.0.1</dbserver>
        <dbport>3306</dbport>
        <dbname>moodle</dbname>
        <dbprefix>mdl_</dbprefix>
        <username>moodle</username>
        <password></password>
		
        <ssh>
            <username>root</username>
            <password></password>
        </ssh>
    </database>
    <phpserver>
        <port>14700</port>
        <message>codiana.check</message>
        <allow-access-from>
            <address>127.0.0.1</address>
        </allow-access-from>
    </phpserver>
    <languages>
        <item>
            <name>Java6</name>
            <extension>java</extension>
            <classname>cz.edu.x3m.JavaLanguage</classname>
            <plagsLib>cz.edu.x3m.plagiarism.JavaComparator</plagsLib>
        </item>
        <item>
            <name>Java7</name>
            <extension>java</extension>
            <supportLib>cz.edu.x3m.JavaLanguage</supportLib>
            <plagsLib />
        </item>
    </languages>
    <data-directory>c:\xampp\htdocs\moodle\mod\codiana\data\</data-directory>
    <run-script>/bin/run.sh</run-script>
</codiana>